/* https://www.color-hex.com/color-palette/98973 */

body {
    background-color: #bfbfbf;
    color: #c63222;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

table.draw {
    color: purple;
}

td.draw-odd {
    background: lightpink;
}

td.draw-even {
    background: lightgoldenrodyellow;
}

table.numbers {
    color: slateblue;
}

td.numbers-odd {
    background: lightyellow;
}

td.numbers-even {
    background: lightcyan;
}