/* https://www.color-hex.com/color-palette/98973 */

body {
    background-color: #bfbfbf;
    color: #c63222;
}

span.number {
    display: inline-block;
    width: 1.9rem;
    line-height: 1.9rem;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}

span.draw {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    color: purple;
}

span.draw.odd {
    background: lightpink;
}

span.draw.even {
    background: lightgoldenrodyellow;
}

span.draw.winner {
    color: white;
    background-color: darkgrey;
}

span.numbers {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    color: slateblue;
}

span.numbers.odd {
    background: lightyellow;
}

span.numbers.even {
    background: lightcyan;
}

span.numbers.winner {
    color: white;
    background-color: gold;
}

span.winning-numbers {
    background-color: #838282;
}

span.winning-numbers.winner {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
}

span.tzoker {
    background-color: gold;
    color: #838282;
}

